# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Tile assets
web/tiles/
debug.log

deploy.bat

unversioned/

tool/generator/x64/
tool/generator/.vs/
